@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
:root {
	--background-color: white;
	--text-color: #121212;
	--link-color: rgba(255, 255, 255, 0.6);
	--hover-color: rgb(255, 255, 255);
	--search-bar-background: rgba(255, 255, 255, 0.08);
	--search-bar-background-mobile: rgba(255, 255, 255, 0.756);
	--btn-background: rgba(255, 255, 255, 0.08);
	--btn-border: rgba(255, 255, 255, 0.08);
	--btn-backdrop-filter: blur(16px);
}
 .dark{
--background-color: black;
	--text-color: white;
	--link-color: rgba(255, 255, 255, 0.6);
	--hover-color: rgb(255, 255, 255);
	--search-bar-background: rgba(255, 255, 255, 0.08);
	--search-bar-background-mobile: rgba(255, 255, 255, 0.756);
	--btn-background: rgba(255, 255, 255, 0.08);
	--btn-border: rgba(255, 255, 255, 0.08);
	--btn-backdrop-filter: blur(16px);
}

}



*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color:var(--background-color);
	color: var(--text-color);
	
	
}
 .unscrollable {
	overflow: hidden;
}
.alpha{
	color: #121212;
}
/* svg{
	color: #121212;
	background-color: #54c962;
	border-radius: 99999px;
	padding: 3px;
	
} */

.main__header {
	background-color: var(--background-color);
	/* background-color: var(--background-color); */
	
	top: 0;
	width: 100%;
	position:sticky;
	
}
.mobile__nav {
	/* background-color: #1b161e; */background-color: var(--background-color);
}
.nav__links div {
	/* color: var(--link-color); */
	font-weight: 400;color: #121212;
	font-size: 0.9rem;
	transition: all 0.2s ease;
	/* Move the transition here to apply it to all .nav__links elements */
}

.nav__links div:hover {
	color: var(--hover-color);
}

.search-bar {
	background-color: var(--search-bar-background);
	overflow: hidden;
}
.search-bar:focus-within {
	border: 2px solid rgba(84, 84, 84, 0.8);
}
.mobile__sbi {
	background-color: black;
	border: 1px solid var(--link-color);
}
.side__menu {
	left: -100rem;
	background-color: var(--background-color);
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow:
		rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	transition: left 0.3s;
}
.side__menu__visible {
	left: 0;
}
.cln {
	letter-spacing: -0.2px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.07);
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(
		145deg,
		#fff 65%,
		rgba(255, 255, 255, 0.43)
	);
	-webkit-background-clip: text;
}
.btn {
	background-color: var(--btn-background);
	border: 1px solid var(--btn-border);
	/* -webkit-backdrop-filter: var(--btn-backdrop-filter);
	backdrop-filter: var(--btn-backdrop-filter); */
	font-weight: 400;
	position: relative;
	outline: none;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 8px 14px;
	line-height: 18px;
	min-width: 84px;
	opacity: 1;
	transition: border 0.2s;
}

.btn:hover {
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.button-68 {
	appearance: none;
	backface-visibility: hidden;
	background-color: #4ae052;
	border-radius: 8px;
	border-style: none;
	box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
	box-sizing: border-box;
	color: #121212;
	cursor: pointer;
	display: inline-block;
	font-family:
		Inter,
		-apple-system,
		system-ui,
		"Segoe UI",
		Helvetic
		Arial,
		sans-serif;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 1.5;
	outline: none;
	overflow: hidden;
	padding: 8px 14px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transform: translate3d(0, 0, 0);
	transition: all 0.3s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: top;
	white-space: nowrap;
}

.button-68:hover {
	background-color: #4ae052;
	opacity: 1;
	transform: translateY(0);
	transition-duration: 0.35s;
}

.button-68:active {
	transform: translateY(2px);
	transition-duration: 0.35s;
}

.button-68:hover {
	box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}
/* main{
    background-image: url(../public/images/background.png);
        background-position: 50%;
        position: absolute;
} */

/* .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(330px,1fr));
    
} */
.gradient_card {
	/* -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); */
	/* transform: rotate(90deg); */
	background: linear-gradient(to bottom, transparent, rgb(0, 0, 0));
	/* Adjust the rgba values for the gray color and transparency as needed */
}

/* .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.card {
    flex: 1;
    min-width: calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
  
    margin: 10px;
    
}
@media only screen and (max-width: 850px){
.card {
        flex: 1;
        min-width: calc(44.33% - 20px);
      
        margin: 10px;
        
    }
}
@media only screen and (max-width: 600px) {
    .card {
        flex: 1;
        min-width: calc(88.33% - 20px);
      
        margin: 10px;
        
    }
} */
/* @media only screen and (max-width: 1135px) {
.cards {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    
    
        }


} */
.card {
	background-color: var(--btn-background);
	border: 1px solid var(--btn-border);
	/* -webkit-backdrop-filter: var(--btn-backdrop-filter);
	backdrop-filter: var(--btn-backdrop-filter); */
	transition: 0.3s;
}

.card:hover {
	border: 1px solid rgba(255, 255, 255, 0.5);
	transform: scale(1.01);
	/* box-shadow: inset 0 2px 2px #525154, -2px -1px 15px rgba(0, 0, 0, .64); */
}

.card_profile {
	border: 5px solid var(--btn-border);
}
.roundex{
	border-radius: 9999px;
}
.accordion-content{
	opacity: 1;
	height: 100%;
	padding: 24px;
	transition: opacity .5s ease-in-out;
}
/* .container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tabs {
	display: flex;
	position: relative;
	background-color: var(--btn-background);
        border: 1px solid var(--btn-border);
        -webkit-backdrop-filter: var(--btn-backdrop-filter);
        backdrop-filter: var(--btn-backdrop-filter);
	/* box-shadow:
		0 0 1px 0 rgba(24, 94, 224, 0.15),
		0 6px 12px 0 rgba(24, 94, 224, 0.15); 
	padding: 0.75rem;
	border-radius: 99px;
}
.tabs * {
	z-index: 2;
}

input[type="radio"] {
	display: none;
}

.tab {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 27px;
	width: 100px;
	font-size: 0.75rem;
	font-weight: 300;
	border-radius: 99px;
	cursor: pointer;
	transition: color 0.15s ease-in;
}

input[type="radio"]:checked + label {
	color: var(--hover-color);
}

input[id="radio-1"]:checked ~ .glider {
	transform: translateX(0);
}

input[id="radio-2"]:checked ~ .glider {
	transform: translateX(100%);
}

input[id="radio-3"]:checked ~ .glider {
	transform: translateX(200%);
}

.glider {
	position: absolute;
	display: flex;
	height: 27px;
	width: 100px;
	background-color: var(--btn-background);
        border: 1px solid var(--btn-border);
        -webkit-backdrop-filter: var(--btn-backdrop-filter);
        backdrop-filter: var(--btn-backdrop-filter);
	z-index: 1;
	border-radius: 99px;
	transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
*/
/* @media (max-width: 700px) {
	.tabs {
		transform: scale(0.6);
	}
}  */


/* .w {
    height: 60px;
    width: 55vw;
    background: var(--background-color);
    line-height: 60px;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.w nav {
    position: relative;
    display: flex;
}

.w nav label {
   display: flex;
   align-items: center;
    width: 100%;
    z-index: 1;
    cursor: pointer;
}

.w nav label a {
    position: relative;
    /* display: flex; 
    justify-content: center;
    align-items: center;
    z-index: -1;
    color: var(--hover-color);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.6s ease;
}

.w nav #home:checked~label.home 
.w nav #inbox:checked~label.inbox 
.w nav #contact:checked~label.contact 
.w nav #heart:checked~label.heart 
.w nav #about:checked~label.about a{
    color: #fff;
}

.w nav label a i {
    font-size: 25px;
    margin: 0 7px;
}

.w nav .tab {
    position: absolute;
    height: 100%;
    width: 20%;
    left: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 50px;
background-color: var(--btn-background);
    border: 1px solid var(--btn-border);
    -webkit-backdrop-filter: var(--btn-backdrop-filter);
    backdrop-filter: var(--btn-backdrop-filter);
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.w nav #inbox:checked~.tab {
    left: 20%;
}

.w nav #contact:checked~.tab {
    left: 40%;
}

.w nav #heart:checked~.tab {
    left: 60%;
}

.w nav #about:checked~.tab {
    left: 80%;
}

.w nav input {
    display: none;
} */


.mint_heading{
  
}
.wrapper {
	margin: 0 auto;
	
	width: 50vw;
	background-color: var(--btn-background);
	border: 1px solid var(--btn-border);
	
	line-height: 30px;
	border-radius: 50px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
	padding: 7px;
	
}

.wrapper nav {
	position: relative;
	display: flex;
	
}

.wrapper nav label {
	flex: 1;
	width: 100%;
	z-index: 1;
	cursor: pointer;
	text-align: center;
}

.wrapper nav label a {
	position: relative;
	z-index: -1;
	color: #ffffff;
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;
	transition: color 0.6s ease;
	
}

.wrapper nav #all:checked~label.all a,
.wrapper nav #popular:checked~label.popular a,
.wrapper nav #new:checked~label.new a

 {
	color: #fff;
}



.wrapper nav .tab {
	position: absolute;
	height: 100%;
	width: 33.3%;
	left: 0;
	bottom: 0;
	z-index: 0;
	border-radius: 50px;
	background: linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
	transition: 0.6s cubic-bezier(0.68, 0.55, 0.265, 1.05);
}

.wrapper nav #popular:checked~.tab {
	left: 33.3%;
}

.wrapper nav #new:checked~.tab {
	left: 66.6%;
}


.wrapper nav input {
	display: none;
}


/* //////////////////////////////////////////////////////////TAB////////////////////////////////////////////////// */

.tabs {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	
}

.tabs__label {
	padding: 10px 21px;
	cursor: pointer;
	margin: 5px;
	
}

.tabs__radio {
	display: none;
}

.tabs__content {
	order: 1;
	width: 100%;
	/* border-bottom: 3px solid #dddddd; */
	line-height: 1.5;
	font-size: 0.9em;
	display: none;
	padding: 12px;;
}

.tabs__radio:checked+.tabs__label {
	font-weight: bold;
	color: #009578;
	border-bottom: 2px solid #009578;
}

.tabs__radio:checked+.tabs__label+.tabs__content {
	display: initial;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.cardx{
  border-top: 1px solid var(--btn-border);
	border-bottom: 1px solid var(--btn-border);
}
/* ............................................................................................................... */
.grid_table{

border-bottom: 1px solid var(--btn-border);
}
.table_heading{

	border-bottom: 1px solid var(--btn-border);
}
.item_1{
	grid-column: span 2;
}
.grid_items{
	margin: auto 0;

}
/* minf desc */
.balance{
	text-wrap: balance;
}

/* img _c */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||\ */
.slider {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 300px;
	box-shadow: 3px 3px 10px rgba(21, 26, 160, 0.562);
}

.wrapper_slider {
	overflow: hidden;
	position: relative;
	background: #c00b0b;
	z-index: 1;
}

#items {
	width: 10000px;
	position: relative;

}

#items.shifting {
	transition: left .2s ease-out;
}

.slide {
	width: 400px;
	height: 300px;
	cursor: pointer;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all 1s;
	position: relative;
	background: #FFCF47;
}

/* .................................................................. */
.slider_card_container{
	
}

.mob{
	display: grid;
	grid-template-columns: 1fr 3fr 12fr;
	width: 100%;
	/* max-width: 25rem; */
}


/* CSS */
.button-31 {
	background-color: #222;
	border-radius: 4px;
	border-style: none;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	
	font-size: 13px;
	font-weight: 600;
	line-height: 1.5;
	margin: 0;
	max-width: none;
	min-height: 44px;
	min-width: 10px;
	outline: none;
	overflow: hidden;
	padding: 9px 15px 8px;
	position: relative;
	text-align: center;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 120px;
}

.button-31:hover,
.button-31:focus {
	opacity: .75;
}



/* 
/////////////////////// */
.card2 {
grid-template-rows: repeat(8, minmax(0, 50px));

}
@media (max-width: 645px) {
	.gridcard {
		grid-template-rows: repeat(12, minmax(0, 1fr));
	}
}

.trigger {
	box-sizing: border-box;
	position: relative;
	width: 120px;
	margin: 0 0 50px;
	padding: 10px;
	background: #bada55;
	text-align: center;
}

.sub {
	box-sizing: border-box;
	position: absolute;
	top: 100px;
	left: 0;
	width: 120px;

	background: #4863a0;
	color: #fff;
	text-align: left;

	/* hide element for now */
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	/* make submenu not hoverable when opacity transition finished,
   * do this instantaneously */
	transition: max-height 0s 1.5s,
		/* hide the submenu after 1 second, in 400ms */
		opacity .4s 1s;

	/* prevent users from showing submenu when hovering hidden element */
	pointer-events: none;
}

/* sub elements can be hovered */
.sub>* {
	pointer-events: auto;
}

/* show submenu when trigger or menu itself is hovered */
.sub:hover,
.trigger:hover .sub {
	max-height: 500px;
	opacity: 1;
	transition-delay: 0s;
}

/* give items some spacing */
.item:not(:last-child) {
	padding: 10px 10px 5px;
}

.item:last-child {
	padding: 10px;
}